<div class="card">
  <div class="card-content">
    <div class="content">
      <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt }}</p>
    </div>
  </div>
</div>
