    <section class="section">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <i class="fas fa-home"></i>&nbsp;Nat's&nbsp;Videos
            </a>

            <a role="button" class="navbar-burger" aria-label="menu"
               aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <a class="navbar-item" href="/rss.xml">
            <i class="fas fa-rss"></i>&nbsp;Feed
          </a>
          <a class="navbar-item" href="/about.html">
            <i class="fas fa-info"></i>&nbsp;About
          </a>

          <div class="navbar-end">
            &nbsp;
          </div>
        </nav>
      </div>
    </section>
