<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    {% include "top-nav.liquid" %}
    <section class="section">
      <div class="container">
        <h1 class="title">{{ page.title }}</h1>
        <div class="content">
          <p>Published: {{ page.published_date }}</p>

          {{ page.content }}
        </div>
      </div>
    </section>
  </body>
</html>
